@{
    ViewData["Title"] = "Query Page";
}

<div class="row">
    <div class="col-sm-12 col-md-6">
        <form id="name_form" action="/Database/NameQuery" method="post">

            <label for="name">Name:</label><br>
            <input class="btn btn-outline-dark btn-sm" type="text" name="name" id="name" size="30" placeholder="Namen eingeben"
                   oninput="letter_countCheck(document.getElementById('name').value, document.getElementById('name_countCheck'))">

            <input class="btn btn-outline-dark btn-sm" type="submit" value="Namen suchen"><br>

            <span class="check" id="name_countCheck">Name muss mindestens (1) Stelle haben</span><br>

        </form>
    </div>

    <div class="col-sm-12 col-md-6">
        <form id="BLZ_form" action="/Database/BLZquery" method="post">

            <label for="BLZ">Bankleitzahl:</label><br>
            <input class="btn btn-outline-dark btn-sm" type="text" name="BLZ" id="BLZ" size="30" placeholder="BLZ eingeben"
                   oninput="numberCheck(document.getElementById('BLZ').value,document.getElementById('BLZ_numberCheck')),
        BLZ_countCheck(document.getElementById('BLZ').value,document.getElementById('BLZ_countCheck'))">

            <input class="btn btn-outline-dark btn-sm" type="submit" value="BLZ suchen"><br>

            <span class="check" id="BLZ_numberCheck">Bankleitzahl darf nur Ziffern enthalten</span><br>
            <span class="check" id="BLZ_countCheck">Bankleitzahl muss (8) Stellen haben</span><br>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form id="BIC_form" action="/Database/BICquery" method="post">

            <label for="BIC">BIC:</label><br>
            <input class="btn btn-outline-dark btn-sm" type="text" name="BIC" id="BIC" size="30" placeholder="BIC eingeben"
                   oninput="BIC_countCheck(document.getElementById('BIC').value, document.getElementById('BIC_countCheck')),
    BIC_formatCheck(document.getElementById('BIC').value, document.getElementsByClassName('BIC_formatCheck')),
    BIC_bankcodeCheck(document.getElementById('BIC').value, document.getElementsByClassName('BIC_bankcodeCheck')),
    BIC_laendercodeCheck(document.getElementById('BIC').value, document.getElementsByClassName('BIC_laendercodeCheck')),
    BIC_ortscodeCheck(document.getElementById('BIC').value, document.getElementsByClassName('BIC_ortscodeCheck')),
    BIC_branchcodeCheck(document.getElementById('BIC').value, document.getElementsByClassName('BIC_branchcodeCheck'))">

            <input class="btn btn-outline-dark btn-sm" type="submit" value="BIC suchen"><br>

            <span class="check BIC_formatCheck">BIC muss das Format </span><span class="check BIC_bankcodeCheck">{ Bankcode } </span><span class="check BIC_laendercodeCheck">{ Ländercode } </span><span class="check BIC_ortscodeCheck">{ Ortscode } </span><span class="check BIC_formatCheck">haben</span><span class="BIC_branchcodeCheck"> (optional zusätzlich: { Branch-Code })</span><br>
            <span class="check BIC_bankcodeCheck">Bankcode muss (4) Stellen haben und aus Buchstaben und / oder Ziffern bestehen</span><br>
            <span class="check BIC_laendercodeCheck">Ländercode muss (2) Stellen haben und aus Buchstaben bestehen</span><br>
            <span class="check BIC_ortscodeCheck">Ortscode muss (2) Stellen haben und aus Buchstaben und / oder Ziffern bestehen</span><br>
            <span class="BIC_branchcodeCheck">Branch-Code muss (3) Stellen haben und aus Buchstaben und / oder Ziffern bestehen</span><br>
            <span class="check" id="BIC_countCheck">BIC muss (8) oder (11) Stellen haben</span><br>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <form id="PLZ_form" action="/Database/PLZquery" method="post">

            <label for="PLZ">Postleitzahl:</label><br>
            <input class="btn btn-outline-dark btn-sm" type="text" name="PLZ" id="PLZ" size="30" placeholder="PLZ eingeben"
                   oninput="numberCheck(document.getElementById('PLZ').value,document.getElementById('PLZ_numberCheck')),
        PLZ_countCheck(document.getElementById('PLZ').value,document.getElementById('PLZ_countCheck'))">

            <input class="btn btn-outline-dark btn-sm" type="submit" value="PLZ suchen"><br>

            <span class="check" id="PLZ_numberCheck">Postleitzahl darf nur Ziffern enthalten</span><br>
            <span class="check" id="PLZ_countCheck">Postleitzahl muss (5) Stellen haben</span><br>

        </form>
    </div>

    <div class="col-sm-12 col-md-6">
        <form id="ort_form" action="/Database/OrtQuery" method="post">

            <label for="ort">Ort:</label><br>
            <input class="btn btn-outline-dark btn-sm" type="text" name="ort" id="ort" size="30" placeholder="Ort eingeben"
                   oninput="letterCheck(document.getElementById('ort').value, document.getElementById('ort_letterCheck')),
        letter_countCheck(document.getElementById('ort').value, document.getElementById('ort_countCheck'))">

            <input class="btn btn-outline-dark btn-sm" type="submit" value="Ort suchen"><br>

            <span class="check" id="ort_letterCheck">Ort darf nur Buchstaben enthalten</span><br>
            <span class="check" id="ort_countCheck">Ort muss mindestens (1) Stelle haben</span><br>

        </form>
    </div>
</div>

@*<form id="" action="/Database/QueryPage" method="post">

    <label for="">:</label><br>
    <input class="btn btn-outline-dark btn-sm" type="text" name="" id="" size="30" placeholder="eingeben">

    <input class="btn btn-outline-dark btn-sm" type="submit" value="suchen"><br>

</form>*@
